In [3]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (19 kB)
Collecting numpy<2,>=1.23.2 (from pandas)
  Downloading numpy-1.26.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.2/61.2 kB 445.3 kB/s eta 0:00:00a 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /home/tayfun/anaconda3/envs/datascience/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/tayfun/anaconda3/envs/datascience/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2023.4-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /home/tayfun/anaconda3/envs/datascience/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.0/13.0 MB 1.5 MB/s eta 0:00:0000:0100:01
Downloading numpy-1.26.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 18.3/18.3 MB 3.3 MB/s eta 0:00:0000:0100:01
Downloading tzdata-2023.4-py2.py3-none-any.whl (346 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 346.6/346.6 kB 3.3 MB/s eta 0:00:00a 0:00:01
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-1.26.3 pandas-2.2.0 tzdata-2023.4

In [2]:
import pandas as pd
df = pd.read_csv("star_classification.csv")
df.head()

/tmp/ipykernel_5037/2296238895.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
0,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,GALAXY,0.634794,5812,56354,171
1,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,GALAXY,0.779136,10445,58158,427
2,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,GALAXY,0.644195,4576,55592,299
3,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,GALAXY,0.932346,9149,58039,775
4,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,GALAXY,0.116123,6121,56187,842

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 18 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   obj_ID       100000 non-null  float64
 1   alpha        100000 non-null  float64
 2   delta        100000 non-null  float64
 3   u            100000 non-null  float64
 4   g            100000 non-null  float64
 5   r            100000 non-null  float64
 6   i            100000 non-null  float64
 7   z            100000 non-null  float64
 8   run_ID       100000 non-null  int64
 9   rerun_ID     100000 non-null  int64
 10  cam_col      100000 non-null  int64
 11  field_ID     100000 non-null  int64
 12  spec_obj_ID  100000 non-null  float64
 13  class        100000 non-null  object
 14  redshift     100000 non-null  float64
 15  plate        100000 non-null  int64
 16  MJD          100000 non-null  int64
 17  fiber_ID     100000 non-null  int64
dtypes: float64(10), int64(7), object(1)
memory usage: 13.7+ MB

In [4]:
df.shape

(100000, 18)

In [5]:
df.loc[0]

obj_ID         1237660961327743232.0
alpha                     135.689107
delta                      32.494632
u                           23.87882
g                            22.2753
r                           20.39501
i                           19.16573
z                           18.79371
run_ID                          3606
rerun_ID                         301
cam_col                            2
field_ID                          79
spec_obj_ID    6543777369295181824.0
class                         GALAXY
redshift                    0.634794
plate                           5812
MJD                            56354
fiber_ID                         171
Name: 0, dtype: object

In [6]:
df.head()

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
0,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,GALAXY,0.634794,5812,56354,171
1,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,GALAXY,0.779136,10445,58158,427
2,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,GALAXY,0.644195,4576,55592,299
3,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,GALAXY,0.932346,9149,58039,775
4,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,GALAXY,0.116123,6121,56187,842

In [7]:
df.max()

obj_ID          1237680531356386304.0
alpha                       359.99981
delta                       83.000519
u                            32.78139
g                            31.60224
r                            29.57186
i                            32.14147
z                            29.38374
run_ID                           8162
rerun_ID                          301
cam_col                             6
field_ID                          989
spec_obj_ID    14126940609093851136.0
class                            STAR
redshift                     7.011245
plate                           12547
MJD                             58932
fiber_ID                         1000
dtype: object

In [8]:
df.describe()

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,redshift,plate,MJD,fiber_ID
count,1.000000e+05,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.0,100000.000000,100000.000000,1.000000e+05,100000.000000,100000.000000,100000.000000,100000.000000
mean,1.237665e+18,177.629117,24.135305,21.980468,20.531387,19.645762,19.084854,18.668810,4481.366060,301.0,3.511610,186.130520,5.783882e+18,0.576661,5137.009660,55588.647500,449.312740
std,8.438560e+12,96.502241,19.644665,31.769291,31.750292,1.854760,1.757895,31.728152,1964.764593,0.0,1.586912,149.011073,3.324016e+18,0.730707,2952.303351,1808.484233,272.498404
min,1.237646e+18,0.005528,-18.785328,-9999.000000,-9999.000000,9.822070,9.469903,-9999.000000,109.000000,301.0,1.000000,11.000000,2.995191e+17,-0.009971,266.000000,51608.000000,1.000000
25%,1.237659e+18,127.518222,5.146771,20.352353,18.965230,18.135828,17.732285,17.460677,3187.000000,301.0,2.000000,82.000000,2.844138e+18,0.054517,2526.000000,54234.000000,221.000000
50%,1.237663e+18,180.900700,23.645922,22.179135,21.099835,20.125290,19.405145,19.004595,4188.000000,301.0,4.000000,146.000000,5.614883e+18,0.424173,4987.000000,55868.500000,433.000000
75%,1.237668e+18,233.895005,39.901550,23.687440,22.123767,21.044785,20.396495,19.921120,5326.000000,301.0,5.000000,241.000000,8.332144e+18,0.704154,7400.250000,56777.000000,645.000000
max,1.237681e+18,359.999810,83.000519,32.781390,31.602240,29.571860,32.141470,29.383740,8162.000000,301.0,6.000000,989.000000,1.412694e+19,7.011245,12547.000000,58932.000000,1000.000000

In [16]:
df.loc[[1,2,3,4]]

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
1,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,GALAXY,0.779136,10445,58158,427
2,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,GALAXY,0.644195,4576,55592,299
3,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,GALAXY,0.932346,9149,58039,775
4,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,GALAXY,0.116123,6121,56187,842

In [15]:
df.loc[[1,2,3,4], "alpha"]

1    144.826101
2    142.188790
3    338.741038
4    345.282593
Name: alpha, dtype: float64

In [17]:
df.describe()

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,redshift,plate,MJD,fiber_ID
count,1.000000e+05,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.0,100000.000000,100000.000000,1.000000e+05,100000.000000,100000.000000,100000.000000,100000.000000
mean,1.237665e+18,177.629117,24.135305,21.980468,20.531387,19.645762,19.084854,18.668810,4481.366060,301.0,3.511610,186.130520,5.783882e+18,0.576661,5137.009660,55588.647500,449.312740
std,8.438560e+12,96.502241,19.644665,31.769291,31.750292,1.854760,1.757895,31.728152,1964.764593,0.0,1.586912,149.011073,3.324016e+18,0.730707,2952.303351,1808.484233,272.498404
min,1.237646e+18,0.005528,-18.785328,-9999.000000,-9999.000000,9.822070,9.469903,-9999.000000,109.000000,301.0,1.000000,11.000000,2.995191e+17,-0.009971,266.000000,51608.000000,1.000000
25%,1.237659e+18,127.518222,5.146771,20.352353,18.965230,18.135828,17.732285,17.460677,3187.000000,301.0,2.000000,82.000000,2.844138e+18,0.054517,2526.000000,54234.000000,221.000000
50%,1.237663e+18,180.900700,23.645922,22.179135,21.099835,20.125290,19.405145,19.004595,4188.000000,301.0,4.000000,146.000000,5.614883e+18,0.424173,4987.000000,55868.500000,433.000000
75%,1.237668e+18,233.895005,39.901550,23.687440,22.123767,21.044785,20.396495,19.921120,5326.000000,301.0,5.000000,241.000000,8.332144e+18,0.704154,7400.250000,56777.000000,645.000000
max,1.237681e+18,359.999810,83.000519,32.781390,31.602240,29.571860,32.141470,29.383740,8162.000000,301.0,6.000000,989.000000,1.412694e+19,7.011245,12547.000000,58932.000000,1000.000000

In [22]:
df.sort_values(by=['u'], ascending=True)

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
79543,1.237649e+18,224.006526,-0.624304,-9999.00000,-9999.00000,18.16560,18.01675,-9999.00000,752,301,2,537,3.731277e+18,STAR,0.000089,3314,54970,162
57763,1.237665e+18,208.358688,33.825699,10.99623,13.66217,12.35763,12.63744,11.30247,4552,301,6,229,2.383624e+18,QSO,3.955592,2117,54115,342
75784,1.237662e+18,239.473361,27.594369,12.10168,10.49820,10.11604,10.00865,10.44131,3919,301,3,235,3.383405e+18,STAR,0.000008,3005,54876,274
4472,1.237662e+18,239.423127,28.548438,12.26240,10.51139,10.06854,13.41786,10.22551,3927,301,4,79,3.383435e+18,STAR,0.000025,3005,54876,384
75620,1.237662e+18,239.207155,27.898444,12.30349,10.67180,10.19460,10.05509,10.65056,3919,301,3,233,3.383416e+18,STAR,0.000003,3005,54876,316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1046,1.237679e+18,0.115997,22.714164,29.19901,25.35543,23.48086,21.56495,17.17135,7917,301,4,105,8.630148e+18,QSO,0.253981,7665,57328,455
20225,1.237664e+18,19.689708,-1.058819,29.23438,25.40505,17.51251,16.55034,23.54460,4263,301,1,247,9.896750e+18,STAR,-0.000167,8790,57363,328
19525,1.237658e+18,125.737753,33.875543,29.32565,20.29043,18.35283,17.85217,26.13011,2830,301,4,116,5.001404e+18,GALAXY,0.503306,4442,55532,568
21245,1.237664e+18,22.566355,0.950467,30.66039,30.60700,29.37411,30.25009,16.82299,4263,301,6,266,8.802546e+18,STAR,-0.000456,7818,56989,947
56693,1.237661e+18,120.265645,23.563929,32.78139,14.15644,13.36123,26.30939,13.76284,3605,301,4,74,1.423298e+18,QSO,1.658421,1264,52707,584

In [33]:
df.sort_values(by=['u'], ascending=True)

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
79543,1.237649e+18,224.006526,-0.624304,-9999.00000,-9999.00000,18.16560,18.01675,-9999.00000,752,301,2,537,3.731277e+18,STAR,0.000089,3314,54970,162
57763,1.237665e+18,208.358688,33.825699,10.99623,13.66217,12.35763,12.63744,11.30247,4552,301,6,229,2.383624e+18,QSO,3.955592,2117,54115,342
75784,1.237662e+18,239.473361,27.594369,12.10168,10.49820,10.11604,10.00865,10.44131,3919,301,3,235,3.383405e+18,STAR,0.000008,3005,54876,274
4472,1.237662e+18,239.423127,28.548438,12.26240,10.51139,10.06854,13.41786,10.22551,3927,301,4,79,3.383435e+18,STAR,0.000025,3005,54876,384
75620,1.237662e+18,239.207155,27.898444,12.30349,10.67180,10.19460,10.05509,10.65056,3919,301,3,233,3.383416e+18,STAR,0.000003,3005,54876,316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1046,1.237679e+18,0.115997,22.714164,29.19901,25.35543,23.48086,21.56495,17.17135,7917,301,4,105,8.630148e+18,QSO,0.253981,7665,57328,455
20225,1.237664e+18,19.689708,-1.058819,29.23438,25.40505,17.51251,16.55034,23.54460,4263,301,1,247,9.896750e+18,STAR,-0.000167,8790,57363,328
19525,1.237658e+18,125.737753,33.875543,29.32565,20.29043,18.35283,17.85217,26.13011,2830,301,4,116,5.001404e+18,GALAXY,0.503306,4442,55532,568
21245,1.237664e+18,22.566355,0.950467,30.66039,30.60700,29.37411,30.25009,16.82299,4263,301,6,266,8.802546e+18,STAR,-0.000456,7818,56989,947
56693,1.237661e+18,120.265645,23.563929,32.78139,14.15644,13.36123,26.30939,13.76284,3605,301,4,74,1.423298e+18,QSO,1.658421,1264,52707,584

In [32]:
df.loc[df['run_ID'] == 38161]

Empty DataFrame
Columns: [obj_ID, alpha, delta, u, g, r, i, z, run_ID, rerun_ID, cam_col, field_ID, spec_obj_ID, class, redshift, plate, MJD, fiber_ID]
Index: []

In [38]:
df.loc[df['u'] == 10.99623]

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
57763,1.237665e+18,208.358688,33.825699,10.99623,13.66217,12.35763,12.63744,11.30247,4552,301,6,229,2.383624e+18,QSO,3.955592,2117,54115,342

In [39]:
df['u'] == 10.99623

0        False
1        False
2        False
3        False
4        False
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Name: u, Length: 100000, dtype: bool

In [40]:
df['u'].describe()

count    100000.000000
mean         21.980468
std          31.769291
min       -9999.000000
25%          20.352353
50%          22.179135
75%          23.687440
max          32.781390
Name: u, dtype: float64

In [44]:
df['u'].mode()

0    24.63465
Name: u, dtype: float64

In [45]:
df[df['u'] == 24.63465 ]

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
1020,1.237671e+18,46.688693,39.065414,24.63465,20.73376,19.23159,17.84456,18.20959,5934,301,4,206,2.750732e+18,STAR,-0.000012,2443,54082,575
1813,1.237679e+18,320.362420,3.277886,24.63465,21.57843,21.51058,20.95188,21.42850,7765,301,3,58,1.273956e+19,STAR,0.000016,11315,58402,22
4007,1.237661e+18,223.298916,40.675510,24.63465,22.02457,20.49533,20.20556,22.82690,3699,301,4,209,9.563532e+18,STAR,0.000021,8494,57104,502
4299,1.237661e+18,135.568147,56.788122,24.63465,21.00757,19.52205,18.88963,18.96160,3600,301,2,36,8.194416e+18,STAR,0.000224,7278,57041,423
4732,1.237667e+18,153.203739,26.343743,24.63465,21.80328,21.06230,19.89718,22.82690,5061,301,4,261,7.284640e+18,STAR,-0.000020,6470,56334,247
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94712,1.237661e+18,250.276655,33.631309,24.63465,20.65398,20.41558,20.02716,21.51331,3705,301,4,323,5.850323e+18,STAR,-0.000673,5196,55831,536
96744,1.237673e+18,341.549774,29.823055,24.63465,22.19231,24.80203,20.45608,22.82690,6354,301,1,120,8.615636e+18,STAR,-0.000175,7652,57579,910
97078,1.237658e+18,119.690879,32.549111,24.63465,21.89165,19.96146,19.03118,18.93183,2822,301,2,85,1.052947e+19,STAR,-0.000123,9352,57805,202
97399,1.237661e+18,215.719633,53.817471,24.63465,25.06792,21.96657,20.04840,21.52062,3705,301,4,112,9.459872e+18,STAR,-0.000134,8402,57843,220
99549,1.237664e+18,190.356629,40.586553,24.63465,21.49318,24.80203,20.60685,22.79346,4382,301,5,19,9.948635e+18,STAR,-0.000067,8836,57424,666

In [48]:
df['u'].value_counts().head()

u
24.63465    77
24.63466    64
24.63467    44
24.63464    23
24.63468    20
Name: count, dtype: int64

In [50]:
df[df['u'] == 24.63465 ].sample(10)

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
4732,1.237667e+18,153.203739,26.343743,24.63465,21.80328,21.06230,19.89718,22.82690,5061,301,4,261,7.284640e+18,STAR,-2.012437e-05,6470,56334,247
68654,1.237661e+18,230.016998,36.991776,24.63465,22.26050,20.96972,20.83695,22.69217,3723,301,2,44,1.209558e+19,STAR,1.234361e-04,10743,58222,133
83880,1.237665e+18,215.337551,34.288523,24.63465,21.30371,21.96935,21.06559,20.89439,4512,301,5,112,1.211246e+19,STAR,-1.191102e-04,10758,58220,87
5667,1.237655e+18,258.593548,36.362655,24.63465,25.07784,24.80203,21.85845,19.08220,2207,301,6,132,1.207433e+19,STAR,-2.204300e-04,10724,58391,667
82246,1.237658e+18,167.241132,53.114871,24.63465,21.21270,24.80203,21.04566,22.82690,2821,301,2,132,9.193190e+18,STAR,-1.888063e-04,8165,57374,790
43075,1.237663e+18,192.904618,14.063863,24.63465,21.79595,20.84258,20.15275,22.82689,3970,301,2,74,6.091123e+18,STAR,2.678858e-04,5410,56016,15
4007,1.237661e+18,223.298916,40.675510,24.63465,22.02457,20.49533,20.20556,22.82690,3699,301,4,209,9.563532e+18,STAR,2.099479e-05,8494,57104,502
30639,1.237679e+18,336.647063,3.448125,24.63465,21.70335,21.05466,19.98821,22.82690,7712,301,6,174,1.277020e+19,STAR,-4.677022e-07,11342,58425,894
1813,1.237679e+18,320.362420,3.277886,24.63465,21.57843,21.51058,20.95188,21.42850,7765,301,3,58,1.273956e+19,STAR,1.640221e-05,11315,58402,22
13361,1.237671e+18,156.004775,17.694582,24.63465,21.72486,21.32126,20.24113,22.82690,5935,301,4,263,6.624873e+18,QSO,1.034353e+00,5884,56046,282

In [53]:
df.loc(
    [df['run_ID'] == 5061 ].sort_values(by='g')

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
54731,1.237667e+18,183.112035,29.149276,15.76198,14.05613,13.33440,12.97991,12.78996,5061,301,2,438,2.510824e+18,GALAXY,0.013429,2230,53799,246
90019,1.237667e+18,127.507030,17.259850,15.18891,14.08362,13.59368,13.30383,13.11687,5061,301,4,91,2.559178e+18,GALAXY,0.006960,2273,53709,27
59417,1.237667e+18,161.457517,27.619793,15.82535,14.72135,14.23561,13.91202,13.69412,5061,301,3,311,2.654936e+18,GALAXY,0.044354,2358,53797,234
59336,1.237667e+18,132.505523,19.009763,16.46815,14.75761,14.02012,13.64827,13.38015,5061,301,3,125,2.566093e+18,GALAXY,0.014066,2279,53708,606
65925,1.237667e+18,168.570746,28.558274,16.74684,14.83720,13.98411,13.58241,13.29940,5061,301,3,353,2.493926e+18,GALAXY,0.034379,2215,53793,210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98487,1.237667e+18,176.830874,29.459611,24.59101,24.35240,21.81186,20.67412,19.92826,5061,301,3,402,1.282519e+19,GALAXY,0.598773,11391,58526,241
76391,1.237667e+18,157.918626,27.224731,24.49246,24.51038,21.36308,20.63378,20.79944,5061,301,4,290,1.177373e+19,GALAXY,0.362586,10457,58141,707
88981,1.237667e+18,123.851161,15.702797,24.79372,26.31680,15.93126,14.02122,23.06144,5061,301,4,65,2.554722e+18,STAR,0.000171,2269,53711,199
93587,1.237667e+18,135.687822,19.468903,21.92753,27.89482,26.69312,21.95783,21.26449,5061,301,1,144,6.495476e+18,QSO,1.530559,5769,56246,580
13023,1.237667e+18,167.318654,27.678447,21.10698,29.86258,17.29581,21.10420,19.67165,5061,301,1,345,2.491695e+18,GALAXY,0.405150,2213,53792,285

In [67]:
df.loc[(df['cam_col'] == 2) & (df['field_ID'] == 438) & (df['class'] == 'QSO')]

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
794,1.237679e+18,19.617522,11.644221,21.29604,20.57502,20.43169,20.37710,20.42183,7773,301,2,438,5.254838e+18,QSO,2.548944,4667,55868,958
40669,1.237679e+18,16.324605,1.642411,23.85719,22.75201,22.88017,21.24605,22.00614,7717,301,2,438,1.061737e+19,QSO,1.780636,9430,58112,473

In [68]:
df['Ratio'] = df['u']/df['z 
df.head()

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID,Ratio
0,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,GALAXY,0.634794,5812,56354,171,1.270575
1,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,GALAXY,0.779136,10445,58158,427,1.146353
2,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,GALAXY,0.644195,4576,55592,299,1.333265
3,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,GALAXY,0.932346,9149,58039,775,1.149959
4,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,GALAXY,0.116123,6121,56187,842,1.250413

In [70]:
 df['Ratio'].max()

2.3818768509987764

In [73]:
df.sort_values(by='Ratio', ascending=False).head()

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID,Ratio
56693,1.237661e+18,120.265645,23.563929,32.78139,14.15644,13.36123,26.30939,13.76284,3605,301,4,74,1.423298e+18,QSO,1.658421,1264,52707,584,2.381877
12673,1.237661e+18,135.801820,32.914060,28.18762,28.20660,15.15660,16.51393,14.87752,3606,301,3,81,1.432207e+18,GALAXY,0.459043,1272,52989,227,1.894645
62647,1.237655e+18,208.316045,5.172440,29.04068,17.79931,16.92502,16.00165,15.56698,2247,301,5,317,5.476428e+18,STAR,-0.000065,4864,55680,185,1.865531
72653,1.237666e+18,18.895941,-0.847872,25.37594,15.66091,14.58626,14.04388,13.73559,4858,301,1,480,1.216050e+18,GALAXY,0.038293,1080,52614,283,1.847459
21245,1.237664e+18,22.566355,0.950467,30.66039,30.60700,29.37411,30.25009,16.82299,4263,301,6,266,8.802546e+18,STAR,-0.000456,7818,56989,947,1.822529

In [88]:
df[df['rerun_ID'] == 301].shape

(100000, 19)

In [92]:
df.query('fiber_ID == 584')

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID,Ratio
140,1.237679e+18,40.125506,3.504013,23.04723,22.91427,22.99111,22.17126,21.21337,7718,301,2,256,1.060276e+19,GALAXY,0.931355,9417,58055,584,1.086448
742,1.237668e+18,220.769515,14.164362,23.20728,21.59484,21.31533,21.57566,21.58218,5322,301,3,75,6.162211e+18,QSO,2.643308,5473,56033,584,1.075298
1085,1.237679e+18,13.375253,11.864962,22.35380,20.02552,18.34617,17.69679,17.25051,7773,301,2,397,6.424546e+18,GALAXY,0.306097,5706,56165,584,1.295834
1993,1.237673e+18,349.184911,19.352504,20.90942,19.55472,18.94856,18.71442,18.47655,6366,301,4,127,6.901927e+18,STAR,0.000077,6130,56214,584,1.131673
2502,1.237662e+18,207.878406,11.196829,24.16954,21.82331,21.40239,21.27288,21.34838,3894,301,3,28,6.130686e+18,GALAXY,0.143739,5445,55987,584,1.132149
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96947,1.237674e+18,103.148753,29.050164,20.19384,18.78476,18.23496,18.03422,17.91357,6585,301,4,132,3.033335e+18,STAR,0.000054,2694,54199,584,1.127293
97942,1.237671e+18,131.486185,10.560728,23.22581,20.78328,19.36410,18.87850,18.58535,6004,301,3,104,2.897101e+18,STAR,0.000221,2573,54061,584,1.249684
99343,1.237659e+18,186.952179,68.052444,27.22699,21.33439,19.23901,18.52071,18.10825,3058,301,2,86,8.016568e+18,GALAXY,0.434012,7120,56720,584,1.503568
99811,1.237679e+18,22.936152,20.550597,22.82136,21.84635,20.44624,19.44494,19.25190,7917,301,1,247,8.588525e+18,STAR,0.000004,7628,56978,584,1.185408
99953,1.237671e+18,178.261225,1.174416,21.18402,20.72292,20.75580,20.48850,20.46614,5973,301,1,89,4.326994e+18,QSO,0.576586,3843,55278,584,1.035076

In [107]:
df.query('cam_col == 5').sort_values(by="run_ID", ascending=True)

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID,Ratio
69113,1.237646e+18,40.285858,0.455475,24.88171,24.87792,21.81944,20.78988,19.93387,109,301,5,37,8.810407e+18,GALAXY,0.812097,7825,57030,873,1.248213
69460,1.237646e+18,39.450032,0.630192,22.94494,23.79955,21.62331,20.53627,19.82931,109,301,5,32,8.810360e+18,GALAXY,0.767962,7825,57030,703,1.157122
8090,1.237647e+18,100.634676,0.896531,17.10013,15.42124,15.87082,14.64680,14.47865,307,301,5,165,8.171976e+18,STAR,0.000086,7258,56605,706,1.181058
62253,1.237647e+18,101.259417,0.914225,18.73403,16.31777,16.21570,14.32022,13.83862,307,301,5,169,8.172009e+18,STAR,0.000068,7258,56605,826,1.353750
59405,1.237647e+18,101.226936,0.931150,17.76315,15.70236,13.61485,14.50574,13.54961,307,301,5,169,8.172008e+18,STAR,0.000296,7258,56605,825,1.310971
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36592,1.237681e+18,342.600728,33.588944,22.35121,22.44960,20.79339,19.58983,19.01277,8156,301,5,139,8.040281e+18,GALAXY,0.578246,7141,56565,835,1.175589
36727,1.237681e+18,332.527332,31.315896,24.86245,21.56071,19.80045,19.00051,18.50172,8156,301,5,80,6.703757e+18,GALAXY,0.493213,5954,56462,540,1.343791
36924,1.237681e+18,338.380464,32.886666,23.60611,22.71140,20.75860,19.84808,19.24942,8156,301,5,115,8.041324e+18,GALAXY,0.548291,7142,56567,533,1.226328
66803,1.237681e+18,329.237369,30.305774,24.31159,25.62788,21.37007,20.24134,19.11450,8156,301,5,60,8.677486e+18,GALAXY,0.793492,7707,57663,637,1.271893
36923,1.237681e+18,337.247066,32.524008,24.17834,22.40627,20.76133,19.74269,19.20094,8156,301,5,108,7.329870e+18,GALAXY,0.547495,6510,56486,951,1.259227

In [108]:
df.query("field_ID == 169").sort_values(by = "run_ID")

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID,Ratio
60277,1.237647e+18,101.297755,0.978475,18.30011,16.39928,16.29603,15.13061,14.11489,307,301,5,169,8.172019e+18,STAR,0.000016,7258,56605,865,1.296511
62253,1.237647e+18,101.259417,0.914225,18.73403,16.31777,16.21570,14.32022,13.83862,307,301,5,169,8.172009e+18,STAR,0.000068,7258,56605,826,1.353750
60780,1.237647e+18,101.296156,0.999042,17.74339,15.83632,13.76373,13.21928,13.70234,307,301,5,169,8.172019e+18,STAR,0.000316,7258,56605,863,1.294917
59096,1.237647e+18,101.335782,0.888614,16.47939,14.99397,13.98696,15.41708,13.70581,307,301,5,169,8.172020e+18,STAR,0.000156,7258,56605,868,1.202365
59405,1.237647e+18,101.226936,0.931150,17.76315,15.70236,13.61485,14.50574,13.54961,307,301,5,169,8.172008e+18,STAR,0.000296,7258,56605,825,1.310971
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31122,1.237680e+18,349.828742,26.216739,24.33090,22.41115,20.89257,19.84732,19.30041,8110,301,2,169,7.416410e+18,GALAXY,0.667068,6587,56537,389,1.260642
65801,1.237680e+18,349.658866,28.441242,22.22634,20.00084,19.25716,18.96833,18.79970,8116,301,2,169,8.671838e+18,STAR,-0.000466,7702,58017,572,1.182271
19971,1.237681e+18,348.045839,34.155954,22.31009,19.56619,18.09319,17.36251,16.93009,8156,301,4,169,8.039128e+18,STAR,0.000045,7140,56569,736,1.317777
45900,1.237681e+18,346.771282,28.733704,22.29603,21.98816,21.87809,21.79239,21.59107,8162,301,3,169,8.747142e+18,STAR,-0.000581,7769,58420,94,1.032651
93188,1.237681e+18,346.779894,28.649827,23.36315,24.29464,22.44294,21.22160,19.48122,8162,301,3,169,8.674096e+18,STAR,-0.000102,7704,57572,593,1.199265